/* basic css for all start */
:root{ /*color */
    --main-color:#24344d;
    --background: rgb(53, 0, 31);
    --black:#000000;
    --white: #ffffff;
}
*{
    margin:0;
    padding:0;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}
/* basic css for all end */

body{ /*background body */
    background-image:url('/assets/img/background.jpg');
    background-size: cover;
    background-position:50% 50%;
}

/* form css start */
a:link{ /* link not underlined */
    text-decoration:none; 
} 
textarea { /* no resize textarea in navigator */
    resize: none;
    border-radius: 15px;
    padding: 13px;
}
form{
    position: relative;
    width: 340px;
    margin: 100px auto;
    text-align: center;
    background: linear-gradient(197deg, #ff924d 2%, #ff8f4d 6%, #fe8852 14%, #fe6e55 19%, #fe6157 26%, #fe5957 34%, #fd4c59 39%, #f84964 46%, #ef4574 56%, #e74086 64%, #df3d94 69%, #da3a9e 75%, #d337a9 80%, #c834bf 86%, #c034d0 92%);
    padding: 20px;
    border-radius: 20px;
    height: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
#card{
    border-radius: 25px;
    margin-bottom: 35px;
    width: 150px;
    padding: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
h4{
    font-size: 2em;
    margin-bottom: 25px;
    color: var(--white);
    padding: 15px;
    opacity: 1;
}
#price{
    width: 150px;
    border-radius: 20px;
}
p{
    color: var(--white);
    padding: 15px;
    opacity: 1;
}
input{
    display: block;
    width: 325px;
    padding: 8px;
    border-radius: 15px;
    border: 0;
    margin-bottom: 10px;
    color: var(--background);
    outline: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.sub{ /* input submit */
    position: relative;
    width: 150px;
    margin-top: 20px;
    margin-left: 30%;
    margin-right: 30%;
    background: var(--main-color);
    color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
/* form css end */

/* flex start for product.html */
.flexContainer{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
}
.flex1{
    background: linear-gradient(197deg, #ff924d 2%, #ff8f4d 6%, #fe8852 14%, #fe6e55 19%, #fe6157 26%, #fe5957 34%, #fd4c59 39%, #f84964 46%, #ef4574 56%, #e74086 64%, #df3d94 69%, #da3a9e 75%, #d337a9 80%, #c834bf 86%, #c034d0 92%); opacity: 0.85;
    width: 100%;
    height: auto;
    margin: 1%;
    border-radius: 5px;
}
.flex2{
    /* img background start */
    background-image:url('/assets/img/children.jpg');
    display: inline-block;
    background-size: cover;
    background-position:50% 50%;
    /* img background end */
    width: 48%;
    height: 300px;
    margin: 1%;
    border-radius: 5px;
}
.flex3{
    /* img background start */
    background-image:url('/assets/img/computer.jpg');
    display: inline-block;
    background-size: cover;
    background-position:50% 50%;
    /* img background end */
    width: 48%;
    height: 300px;
    margin: 1%;
    border-radius: 5px;
}
.flex4{
    background: linear-gradient(197deg, #ff924d 2%, #ff8f4d 6%, #fe8852 14%, #fe6e55 19%, #fe6157 26%, #fe5957 34%, #fd4c59 39%, #f84964 46%, #ef4574 56%, #e74086 64%, #df3d94 69%, #da3a9e 75%, #d337a9 80%, #c834bf 86%, #c034d0 92%); opacity: 0.85;
    width: 100%;
    height: auto;
    margin: 1%;
    border-radius: 5px;
}
/* flex end for product.html */