    body {

        margin: 0;
        font-size: 28px;
        font-family: Arial, Helvetica, sans-serif;
        }


    /* police et couleur du titre en haut au mileu */    
    h1 {

        color: black;
        font-family: "Courier New", Courier, monospace;
        font-size: 35px;
        }
    /*------------------------*/    


    /* logo en haut à gauche */    
    .topleft {
        position: absolute;
        top: 3%;
        left: 10px;
        }
    /*------------------------*/    
    
    /* position et marge du bloc du texte au milieu en haut */
    .middle {
        
        position: absolute;
        top: 10%;
        left: 50%;
    
        transform: translate(-50%, -50%);
        text-align: center;

        }
    /*----------------------------*/

    /* position et marge du bloc de la partie en haut à droite (boutons)  */
    .topright{
        position: absolute;
        top: 7%;
        left: 80%;
        }
    

    /*  Forme et effets des Bouton en hautt à droite  */
    .button {
        padding: 3% 30px;
        font-size: 15px;
        text-align: center;
        cursor: pointer;
        outline: none;
        color: rgb(20, 19, 19);
        background-color:rgb(199, 231, 53);
        border: 5px;
        border-radius: 15px;
        box-shadow: 0 9px rgb(199, 231, 53);
        }
    
    .button:hover {background-color: #dddacd}
    
    .button:active {
        background-color: #f0e9cd;
        box-shadow: 0 5px rgb(26, 17, 17);
        transform: translateY(4px);
        }
    /*----------------*/    


    .header{
        background-image: url('./assets/img/blur8.jpg') ;
        
        padding: 70px;
        }


    #navbar {
        overflow: hidden;
        background: linear-gradient(197deg, #ff924d 2%, #ff8f4d 6%, #fe8852 14%, #fe6e55 19%, #fe6157 26%, #fe5957 34%, #fd4c59 39%, #f84964 46%, #ef4574 56%, #e74086 64%, #df3d94 69%, #da3a9e 75%, #d337a9 80%, #c834bf 86%, #c034d0 92%);
        text-align: center;
        border: 25px;
        border-radius: 0px;
        }

    #navbar a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 26px 26px;
        text-decoration: none;
        font-size: 17px;
        border-radius: 0px;
        }
            
    #navbar a:hover {
        background-color: #ddd;
        color: black;
        }
            
    #navbar a.active {
        background-color: #1375d1;
        color: white;
        }
            
    .content {
        padding: 16px;
        }
        
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        }
        
    .sticky + .content {
        padding-top: 60px;
        } 
        
    .content {

        margin-top: 3%;
        margin-left: 18%;
        margin-right: 18%;
        }

    .car{
        border: 25px;
        border-color: cornflowerblue;
        border-radius: 30Px;
        position: center;
        
        color: rgb(49, 49, 49);
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 40px;
        font: bold ;
        }
        
    .map {
        left: 50%;
        padding-left: 15%;
        border-radius: 30Px;
        box-shadow: 0 9px rgb(230, 236, 135);
        

        }


    hr {
        margin-left: 18%;
        margin-right: 18%;
        }
        
    p {

        margin-top: 5%;
        }



    /* Effets images de la page d'accueil */

    * {
        box-sizing: border-box;
        }
        
        .row > .column {
        padding: 0 8px;
        }
        
        .row:after {
        content: "";
        display: table;
        clear: both;
        }
        
        .column {
        float: left;
        width: 25%;
        }
        
        /* La Modal (background) */
        .modal {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: black;
        }
        
        /* Contenu de la modal */
        .modal-content {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        width: 90%;
        max-width: 1200px;
        }
        
        /* Bouton fermer */
        .close {
        color: white;
        position: absolute;
        top: 10px;
        right: 25px;
        font-size: 35px;
        font-weight: bold;
        }
        
        .close:hover,
        .close:focus {
        color: #999;
        text-decoration: none;
        cursor: pointer;
        }
        
        .mySlides {
        display: none;
        }
        
        .cursor {
        cursor: pointer;
        }
        
        /* Bouton suivant et précédant */
        .prev,
        .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -50px;
        color: white;
        font-weight: bold;
        font-size: 20px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        -webkit-user-select: none;
        }
        
        /* position du bouton suivant sur la droite */
        .next {
        right: 0;
        border-radius: 3px 0 0 3px;
        }
        
        /* En survolant , faire l'effet transparent/ noir */
        .prev:hover,
        .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
        }
        
        /* nombre de 1 à 3 */
        .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
        }
        
        img {
        margin-bottom: -4px;
        }
        
        .caption-container {
        text-align: center;
        background-color: black;
        padding: 2px 16px;
        color: white;
        }
        
        .demo {
        opacity: 0.6;
        }
        
        .active,
        .demo:hover {
        opacity: 1;
        }
        
        img.hover-shadow {
        transition: 0.3s;
        }
        
        .hover-shadow:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }



        footer {
            margin-top: 10%;
            background-color: #097AC9;
            height: 600px;
            width: 100%;
            }
